body {
    background: rgb(12, 28, 45);
}

#pokerSVG {
    position: fixed;
    top: 50%;
    left: 77%;
    z-index: -1;
    fill: rgb(12, 28, 45);
    filter: invert(8%);
    transform: scale(1.5);
}

#innerOval {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 800px;
    height: 400px;
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 140px;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    -o-text-overflow: clip;
    text-overflow: clip;
    border: 1px solid #f2fffc;
    position: relative;
    left: 6%;
    top: 10%;
  }

#oval {
    width: 900px;
    height: 500px;
    position: fixed;
    left: 20%;
    border-radius: 200px;
    
    background: rgb(19, 75, 167);
    z-index: 2;

}

#playerCards {
    position: fixed;
    display: flex;
    top: 70%;
    left: 45%;
}

#communityCards {
    margin: auto;
    position: fixed;
    top: 15%;
    left: 29%;
    display: flex;
}

#comCard1 {
    border: 3px solid blue;
}

span { 
    display: block; 
}

.outline{ width: 110px; text-align: center; padding: 10px; margin: 10px; background: #FFF; color: #000; }
.top{ text-align: left; }
.bottom{ text-align: right; }
.shadow{ box-shadow: 1px 1px 3px #000; -moz-box-shadow: 1px 1px 3px #000; -webkit-box-shadow: 1px 1px 3px #000; }
.rounded{ border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }