body {
    background: rgb(12, 28, 45);
}

#oval {
    width: 900px;
    height: 500px;
    position: absolute;
    left: 20%;
    border-radius: 200px;
    background: rgb(19, 75, 167);
    z-index: -1;

}

#communityCards {
    margin: auto;
    position: relative;
    width: 60%;
    top: 10%;
    display: flex;
}

#comCard1 {
    border: 3px solid blue;
}

span { 
    display: block; 
}

.outline{ width: 110px; text-align: center; padding: 10px; margin: 10px; background: #FFF; color: #000; }
.top{ text-align: left; }
.bottom{ text-align: right; }
.shadow{ box-shadow: 1px 1px 3px #000; -moz-box-shadow: 1px 1px 3px #000; -webkit-box-shadow: 1px 1px 3px #000; }
.rounded{ border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }